NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_URL=https://jobepropco.vercel.app
SUPABASE_SERVICE_ROLE_KEY=
PAYFAST_MERCHANT_ID=
PAYFAST_MERCHANT_KEY=
PAYFAST_PASSPHRASE=
RESEND_API_KEY=
OWNER_EMAIL=
SENDER_EMAIL=
OWNER_SMS=
SMS_PROVIDER=
WHATSAPP_TEMPLATE_ID=
