NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_URL=https://jobepropco.vercel.app
SUPABASE_SERVICE_ROLE_KEY=
ADMIN_EMAIL=
PAYFAST_MERCHANT_ID=
PAYFAST_MERCHANT_KEY=
PAYFAST_PASSPHRASE=
WASSENGER_API_KEY=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
OWNER_EMAIL=
SENDER_EMAIL=
OWNER_SMS=
SMS_PROVIDER=
WHATSAPP_TEMPLATE_ID=
NEXT_PUBLIC_GOOGLE_CALENDAR_BOOKING_URL=
GOOGLE_CALENDAR_API_TOKEN=
GOOGLE_CALENDAR_ID=
